# File konfigurasi lokal dan kredensial
.env
xenon-axe-450704-n3-b08c27baaa39.json
*.pem

# Dependensi Node.js (akan diinstal di server berdasarkan package-lock.json)
node_modules/

# Direktori Git
.git/

# Log file
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File sistem operasi
.DS_Store
Thumbs.db

# File build atau output lainnya yang tidak perlu (jika ada)
# dist/
# build/